# Virtual environment
venv/
.venv/

# VSCode ir kiti IDE failai
.vscode/
.idea/

# Python cache failai
__pycache__/
*.pyc
*.pyo
*.pyd

# OS failai
.DS_Store
Thumbs.db

# Terraform failai
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform-provider-aws_v5.100.0_x5