# Virtual environment
venv/
.venv/

# VSCode ir kiti IDE failai
.vscode/
.idea/

# Python cache failai
__pycache__/
*.pyc
*.pyo
*.pyd

# OS failai
.DS_Store
Thumbs.db

# Terraform failai
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform-provider-aws_v5.100.0_x5
.terraform/
*.db
# Ignore all files with the .plan extension in the repository.
# This is useful for excluding planning or temporary files from version control.
*.plan
# Ignore all files with the .tfvars extension in the repository.
# This is useful for excluding variable files that may contain sensitive information.
*.tfvars